<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/art.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <div class="artist-container">
        <div class="artist-header">
            <h2>{{.Name}}</h2>
            <img src="{{.Image}}" alt="{{.Name}}">
        </div>

        <div class="artist-info">
            <table class="info-table">
                <tr>
                    <td class="table-label">MEMBERS:</td>
                    <td class="table-value">
                        <ul>
                            {{range .Members}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="table-label">DATE OF CREATION:</td>
                    <td class="table-value">{{.CreationDate}}</td>
                </tr>
                <tr>
                    <td class="table-label">DATE OF FIRST ALBUM:</td>
                    <td class="table-value">{{.FirstAlbum}}</td>
                </tr>
            </table>
        </div>

        <div class="artist-locations">
            <h2>UPCOMING CONCERTS:</h2>
            {{with .Relations.DatesLocations}}
                {{range $location, $dates := .}}
                    <div>
                        <h3>{{$location}}:</h3>
                        {{range $dates}}
                            <h4>{{.}}</h4>
                        {{end}}
                    </div>
                {{end}}
            {{else}}
                <p>No upcoming concerts available</p>
            {{end}}
        </div>
        <a href="/" class="back-to-home-button">Back to Home</a>
    </div>
</body>
</html>
