@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* прижать футер к низу */
html, body, .wrapper {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}
/* прижать футер к низу */

a {
    text-decoration: none;
    color: black;
}

.container {
    padding: 0 20px;
}

/* INDEX PAGE */

.header-container {
    text-align: center;
}

.main-title {
    display: block;
    font-family: "Bebas Neue", sans-serif;
    font-size: 64px;
}
