@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: black;
}

.container {
    padding: 0 20px;
}

/* INDEX PAGE */

header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 4px black;
}

header h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 64px;
    text-align: center;
}


.artist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.artist-card {
    width: 175px;
    border: solid 2px black;
}

.artist-card-banner {
    width: 172px;
    border-bottom: solid 2px black;
}

.artist-card-name {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    text-align: center;
}

.artist-card:hover {
    background-color: yellow;
    color: red;
}

/* ARTIST PAGE */



/* ERROR PAGE */

.error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    
}

.error h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 72px;
    text-align: center;
}

.error p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    text-align: center;
    color:red;
    margin-bottom: 20px;
}

.error a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    text-align: center;
    border: 4px solid #000000;
    padding: 10px;
}

.error a:hover {
    background-color: yellow;
    color: red;
}