<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>{{.Name}}</title>
</head>

<body>
    <header>
        <div>
            <a href="/">Groupie-tracker</a>
            <div>
    </header>
    <main>
        <div class="artist">
            <img src="{{.Image}}" alt="">
            <h1>
                {{.Name}}
            </h1>
            <h2>CreationDate:</h2>
            <p>{{.CreationDate}}</p>
            <h2>FirstAlbum:</h2>
            <p>{{.FirstAlbum}}</p>

            <h2>Members:</h2>
            {{range $members := .Members}}
            <div>
                {{$members}}
            </div>
            {{end}}
            <h2>Locations:</h2>
            {{range $location := .Locations.Location}}
            <div>
                {{$location}}
            </div>
            {{end}}
        </div>
    </main>
    <footer>
        <div class="footer-links">
            <a href="https://01.alem.school/git/skabidul">skabidul</a>
            <a href="https://01.alem.school/git/abolat">abolat</a>
        </div>
    </footer>
</body>

</html>