<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="container header-container">
            <a class="main-title" href="/">Groupie-tracker</a>
        </header>
        <main class="container main-container">
            <div class="artist-info">
                <div class="cover-and-name">
                    <img class="cover" src="{{.Image}}" alt="{{.Name}}">
                    <h1 class="name">
                        <!-- берется из структуры data.Artists[idInt-1] по полю .Name -->
                        {{.Name}} 
                    </h1>
                </div>
                <div class="other-info">
                    <div>
                        <h2>CREATION DATE:</h2>
                        <!-- берется из структуры data.Artists[idInt-1] по полю .CreationDate -->
                        <p>{{.CreationDate}}</p>
                        <h2>FIRST ALBUM:</h2>
                        <!-- берется из структуры data.Artists[idInt-1] по полю .FirstAlbum -->
                        <p>{{.FirstAlbum}}</p>
                    </div>
                    <div>
                        <h2>MEMBERS:</h2>
                        <ul>
                            <!-- цикл проходится по каждому элементу из data.Artists[idInt-1].Members -->
                            {{range .Members}}
                            <!-- создается пункт в списке с текстом равным текущему элементу списка Members -->
                            <li>{{.}}</li>
                            {{end}}
                        </ul>       
                    </div>
                    <div>
                        <h2>CONCERT DATES:</h2>
                         <!-- Начало блока кода, выполняемого только в случае наличия данных о датах и местоположениях -->
                        {{with .Relations.DatesLocations}}
                             <!-- Цикл для итерации по парам "местоположение - даты" -->
                            {{range $location, $dates := .}}
                                <div>
                                    <h3>{{$location}}:</h3>
                                    <ul>
                                      <!-- Вложенный цикл для итерации по датам концертов -->
                                    {{range $dates}}
                                        <li>{{.}}</li>
                                    {{end}}
                                    </ul>
                                </div>
                            {{end}}
                        <!-- Блок кода, выполняемого в случае отсутствия данных о датах и местоположениях -->
                        {{else}}
                            <p>No upcoming concerts available</p>
                        {{end}}
                    </div>
                </div>
            </div>
        </main>
        <footer class="container footer-container">
            <div class="back-to-top">
                <a class="back-to-top-link" href="/">Back to main page</a>
            </div>
        </footer>
    </div>
</body>

</html>