<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie-tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="container header-container">
            <a class="main-title" href="/">Groupie-tracker</a>
        </header>
        <main class="container main-container">
            <div class="artists-list">
                <!-- Этот тег начинает цикл,  и проходится по каждому элементу в списке данных (data.Artists которые мы отправляем в шаблон в indexHandler.go) -->
                {{range . }} 
                  <!-- для каждого элемента создается ссылка-карточка с изображением и именем группы (они вытаскиваются из текущей структуры с помощью поля  .Image и .Name соответственно)) -->
                  <!-- эта ссылка ведет на страницу /artist?id={{.Id}} где .Id это поле .Id из текущей структуры Artist)) -->
                <a class="artist-card" href="/artist?id={{.Id}}">
                    <img class="artist-image" src="{{ .Image}}" alt="{{.Name}}">
                    <p class="artist-name">{{.Name }}</p>
                </a>
                <!-- завершает цикл -->
                {{end}} 
            </div>
            <div class="back-to-top">
                <a class="back-to-top-link" href="#top">Go to Top</a>
            </div>
        </main>
        <footer class="container footer-container">
            <div class="footer-links">
                <a class="git-link" href="https://01.alem.school/git/skabidul" target="_blank">skabidul</a>
                <a class="git-link" href="https://01.alem.school/git/abolat" target="_blank">abolat</a>
            </div>
        </footer>
    </div>
</body>

